body{
    background-color: rgb(133, 133, 185);
    min-height: 50vh;
    background-image: url(img/agenda\ \(1\)\ \(2\).png);
    background-repeat: repeat-x;
    text-align: center;
    background-position: 0px 250px;
    
    
}

.botenv{
    color: white;
    width: 133px;
    height: 36px;
    line-height: 3;
    background-color: #3836c2;
    cursor: pointer;
    transition: 0.50s;
    text-align: center;
    font-size: 13px;
}
.botenv:hover{
    background: #2099c8;
}
